{% block nav %}

<title>GINTAMA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/icons/favicon.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <nav>
        <ul class="brand-logo center">
            <li>
                <a href="/g">
                    <span>GINTAMA</span>
                </a>
            </li>
            <li>
                <a href="/s">
                    <span>SHINPACHI</span>
                </a>
            </li>
<!-- 
            <li>
                <a href="/k">
                    <span>KAGURA</span>
                </a>
            </li> -->
        </ul>
    </nav>



{% endblock %}

{% block content %}
{% endblock%}
