{% extends "base.html" %}	
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container">
    <div class="row" href="/g">
        <h3 class="center-align">g i n t o k i</h3>
	
        <div class="col s12 m6 offset-m3 l6 offset-l3">

        <table class="highlight centered">
            <thead>
                <tr>
                    <th>Rig</th>
                    <th>Hashrate</th>
                    <th>Average time</th>
                    <th>Uptime</th>
                </tr>
            </thead>

            <tbody>
        {% for x, y in dict_rig.items() %}
                <tr>
                    <td><a href='{{ y["url"] }}'>{{ x }}</a></td>
                    <td>{{ y["hashrate"] }}</td>
                    <td>{{ y["avg_time"] }}</td>
                    <td>{{ y["uptime"] }}</td>
                </tr>            
        {% endfor %}
            </tbody>
        </table>
	<br><br><b>Total hashrate:</b>{{ total_hashrate }}
        </div>
    </div>
    </div>

{% endblock %}
	
